.scores {
    background-color: white;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #e9ecef;
    border-color: #8064A2;
    color: black;
    outline: none;
}